/* You can add global styles to this file, and also import other style files */
@import 'src/themeWhite.scss';
@import 'src/themeRed.scss';
@include angular-material-theme($light-theme);
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: $accent-color;
}
.other-theme {
    @include angular-material-theme($dark-theme);
}
